.button{
  width: 5rem;
  height: 2rem;
  color: white;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  transition: 0.1s background-color linear, 0.1s color linear;
  border-radius: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button:hover{
  border-color: greenyellow;
}

.button-div{
  /* height: 22rem; */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.hero{
  background: url(./assets/uber.jpg);
  background-size: cover;
  min-height: 100vh;
}

.info{
  height: 30rem;
  width: 40rem;
  /* background: white; */
  margin-left: 100px;
  /* padding-top: 100px;
  margin-top: 100px; */
}