
.button{
  width: 7rem;
  height: 2.5rem;
  color: black;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  transition: 0.3s background-color linear, 0.1s color linear;
  border-radius: 200px !important;
  

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button:hover{
  /* border-color: greenyellow; */
  background-color: rgb(181, 184, 181);
  
  transition: 0.5s ;
  transform: scale(1.1);
  opacity: 0.8;
}

.hero{
  background: url(./assets/uber.jpg);
  background-position: center center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
   background-size: cover;
  min-height: 110vh;
}


@media (max-width: 768px) {
  .hero {
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .hero {
    background-size: cover;
  }
}

@media (min-width: 1201px) {
  .hero {
    background-size: cover;
  }
}

.box{

  height: 50rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info{
  height: 35rem;
  width: 37rem;
  background: white;
  margin-left: 100px;

}

@media screen and (max-width: 548px) {
  .info {
    height: 45rem;
    margin-left: 10px;
  }
}
.curser{
  cursor: pointer;
}

.title{
  font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 50px;
    font-weight: 700;
    line-height: 52px;
    
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    color: currentColor;
    letter-spacing: 0;
    margin: 1;
    width: 100%;
    /* text-align: center; */
    /* margin-left: 4rem */
}

.bottom-info{

  margin-top: 2rem;
  /* margin-left: 4rem; */
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: rgb(54, 53, 54);
  text-underline-offset: 8px;

}

.city{

    background: url(./assets/city.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    min-width: 100%;
    height: 100%;
   
}
  

.bg-color{
  height: 80vh;
background: rgba(226, 220, 220, 0.539);
}

.uber-app{
  background: white;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
cursor: pointer;

box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
transition: box-shadow 0.3s ease-in-out;
}

.uber-app:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


.footerbg{
background: black;
}

.about-icon{
  background: #f7f9f9ca;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


